.button {
    height: 28px;

    font-size: 16px;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 12px;

    background: var(--tg-theme-button-color, #2196F3);
    color: var(--tg-theme-button-text-color, #fff);

    border-radius: 6px;
    border: none;
    outline: none;
    cursor: pointer;
}